[submodule "packages/nomad-FAIR"]
	path = packages/nomad-FAIR
	url = https://gitlab.mpcdf.mpg.de/nomad-lab/nomad-FAIR.git
[submodule "packages/nomad-catalysis"]
	path = packages/nomad-catalysis
	url = https://github.com/FAIRmat-NFDI/nomad-catalysis-plugin
[submodule "packages/nomad-neb-workflows"]
	path = packages/nomad-neb-workflows
	url = https://github.com/FAIRmat-NFDI/nomad-neb-workflows
[submodule "packages/nomad-atomistic-parsers"]
	path = packages/nomad-atomistic-parsers
	url = https://github.com/nomad-coe/atomistic-parsers
